<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.4/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	colors="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTodoAnnotatedTests="true"
	failOnRisky="true"
	failOnWarning="true"
	cacheDirectory=".phpunit.cache"
>
	<testsuites>
		<testsuite name="Unit">
			<directory>tests/Unit</directory>
		</testsuite>
		<testsuite name="Integration">
			<directory>tests/Integration</directory>
		</testsuite>
		<testsuite name="E2E">
			<directory>tests/E2E</directory>
		</testsuite>
	</testsuites>

	<source>
		<include>
			<directory>app</directory>
		</include>
		<exclude>
			<directory>vendor</directory>
			<directory>tests</directory>
			<directory>admin-app</directory>
			<directory>admin/dist</directory>
		</exclude>
	</source>

	<php>
		<env name="WP_TESTS_DIR" value="/tmp/wordpress-tests-lib" />
		<env name="WP_CORE_DIR" value="/tmp/wordpress/" />
	</php>
</phpunit>

